<div class="tab" id="tabs">
	<button class="tablinks" id="homeTab" (click)="swapTab('homeTab')">Home</button>
	<button class="tablinks" id="userTab" (click)="swapTab('userTab')">User management</button>
  <button class="tablinks" id="companyTab" (click)="swapTab('companyTab')">Company management</button>
</div>
<div class="tabcontent">
  <router-outlet></router-outlet>
</div>
<footer class="site-footer">
	<span id="actualInfo">
		Date - user
	</span>
	<span id="logOffButton">
		<button >Log off</button>
	</span>
</footer>