<div class="tab" id="tabs">
	<button class="tablinks" id="homeTab" (click)="swapTab('homeTab')">Home</button>
	<button class="tablinks" id="userTab" (click)="swapTab('usersTab')">Users</button>
	<button class="tablinks" id="companyTab" (click)="swapTab('companiesTab')">Companies</button>
	
	<!--<span id="currentUser" *ngIf="user | async">{{ currentUser.login | titlecase }}</span>-->
</div>

<div class="tabcontent">
  <router-outlet></router-outlet>
</div>

<footer class="site-footer">
	<span id="currentDate">{{ nowDate | date }}</span>
	<span id="logOffButton">
		<button type="submit" (click)="onLogoff()">Log off</button>
	</span>
</footer>
