<!-- public id: number,
        public login: string,
        public email?: string,
        public birthdate?: Date,
        public roles?: string,
        public todoList?: string,
        public creatorId?: number,
        public isEnabled?: boolean,
        public rowVersion?: string) {}

<form>
  <label for="login">Login</label>
  <input type="text" class="form-control" id="name" required>
            
  <label for="password">Password</label>
  <input type="text" class="form-control" id="password" required>
            
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" required>
            
  <label for="birthdate">Login</label>
  <input type="date" class="form-control" id="birthdate" required>

  <label for="roles">Role</label>
  <select class="form-control" id="roles" required>
    <option [value]="Admin">Administrator</option>
    <option [value]="Gestionnary">Gestionnary</option>
    <option [value]="User">User</option>
    <option [value]="Guest">Guest</option>
  </select>
</form>
-->